body {
    font-family: 'Times New Roman', Times, serif;
    margin: 100;
    padding: 10;
    background-color: #ffffffe7;
    align-items: center ;
    border: 1px solid black;
    height: 100vh;
}

header {
   
    color: rgb(79, 4, 4);
    padding: 1rem ;
    
   
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    ;
  }

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: rgb(79, 4, 4);
    text-decoration: none;
}

main {
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav ul li {
        display: inline;
        margin: 0 15px;
    }
    
    nav a {
        color: rgb(79, 4, 4);
        text-decoration: none;
    }
    .button {
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    h1{
        color: rgb(255, 255, 255);
        text-decoration: solid;
        font-style: inherit;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:xx-large;
        
    }
    .container {
        position: relative;
        text-align: center;
        color: rgb(234, 227, 227);
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    padding: 20px;
    h2{
        color: rgb(129, 12, 12);
        text-decoration: solid;
        font-style: inherit;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:xx-large;
        align-items: center;
    }
    p{
        color: rgb(129, 12, 12);
        text-decoration: solid;
        font-style: inherit;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:medium;
        align-items: center;
    
    }
    label{
        color: rgb(129, 12, 12);
        text-decoration: solid;
        font-style: inherit;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:xx-large;
        align-items: center;
    }
}



footer {
    text-align: center;
    padding: 1rem;
    background-color: #0c0303;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

